body {
  font-family: "Sintony", sans-serif;
}

.container {
  width: 320px;
}

.introduce {
  background-image: url(/images/bg-introduce.jpg);
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  height: 547px;
}

.introduce-title,
.introduce-content {
  font-family: "Tomorrow";
  font-weight: 400;
  font-size: 26px;
  line-height: 36.4px;
  margin: 20px;
}

.introduce-title {
  position: relative;
}

.intro {
  position: relative;
}

.line {
  width: 320px;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-self: flex-end;
}

.intro-button {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background-color: black;
  padding: 9px;
  width: 130px;
  height: 36px;
  margin-bottom: 30pox;
  margin-left: 20px;
}

.usefull-cactus {
  width: 280px;
  height: 280px;
  padding: 50px 20px 20px 20px;
}

.usefull-par {
  font-family: "Sintony";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 20px 50px;
}
